div.both-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

.hero-text {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    color: black;
}


.google-button {
    border-radius: 30px !important;
    min-width: 15% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 10px 0px !important;
}